<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--
User user = new User("kim", "a1234");
ServiceImp svc = new ServiceImp(user);
  -->

<bean id="user" class="part03.User">

<!-- 기본 데이터 타입은 value  -->
<constructor-arg value="kim"/>
<constructor-arg value="a1234"/> 

</bean>


<!-- new를 통해 생성한 타입은 ref로  -->
<bean id="svc" class="part03.ServiceImp">
<constructor-arg ref="user"/>
</bean>

</beans>
